
<nav class="navbar navbar-expand-sm bg-dark ">
  
  <ul class="navbar-nav ">

    <li class =" nav-item dropdown dropdownimg ">
<img src="./assets/images/menu.jpg" class="dropdown-toggle img-fluid " data-toggle="dropdown" />
     
    
<div class="dropdown-menu dropdownimg" >
      <a class="dropdown-item" href="#">{{appheader.foodlink}}</a>
      <a class="dropdown-item" href="#">{{appheader.drinklink}}</a>
      <a class="dropdown-item" href="/aboutus">{{appheader.aboutus}}</a>
 </div>

    
   </li>
   
    <li class="nav-item fastfoodlogo">
      <a href="/home"><img src="./assets/images/Benlogo.png" /></a>
    </li>

    <li class=" nav-item signinpos">
      <h1><a href="#" class="nav-link ">Sign in</a></h1>
    </li>
    </ul>
    
</nav>